* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body{
    background-color: rgba(82, 69, 60, 1);
    height: 100%;
    display: flex;
    flex-flow:column;   
    overflow: hidden;
}

.buraco{
    position: sticky;
    top: 0;
    height: 9px;
    background-color: rgba(82, 69, 60, 1);
}

header{
    width: 100%;
    display: flex;
    position: sticky;
    top: 5px;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    z-index: 10;
}

.container-logo {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    border-radius: 13px;
    border: 2px solid rgb(117, 122, 102);
    width: 95%; 
    height: 60px;
    background: rgba(127, 131, 116, 1);
    -webkit-box-shadow: -7px 6px 4px 0px rgba(149,168,142,0.26), -2px 4px 4px 0px rgba(0,0,0,0.26); 
    box-shadow: -7px 6px 4px 0px rgba(149,168,142,0.26), -2px 4px 4px 0px rgba(0,0,0,0.26);
}

.logo{
    display: inline-block;
    margin: 0 10px;
    margin-right: auto;   
}

.botaologin li{
    display: inline-block;
    margin: 0 10px;
    text-transform: uppercase;
    cursor: pointer;
}
.botaologin li, a i{
    font-size: 15px;
    text-decoration: none;
    background-color: rgba(149, 168, 142, 1);
    color: black;
    padding: 10px 10px;
    border-radius: 25px;
    justify-content: space-between;
}

.botaologin i{
    padding-left: 5px;
    color: rgba(127, 131, 116, 1);
}


hr{
    margin: 20px ;
    border: 0;
}

.container-nav{
    display: flex; 
    flex-direction: row; 
    justify-content:flex-start;
    gap: 25px;
    width: 100%;
    height: 1170px;   
}

.menu-lateral{
    display: flex;
    position: sticky;
    top: 79px;
    margin-left: 2.5%;   
    flex-direction: column; 
    width: 180px;
    height: 410px;
    border-radius: 10.93px;
    background-color: rgba(119, 126, 105, 1);
    -webkit-box-shadow: -7px 6px 4px 0px rgba(149,168,142,0.26), -2px 4px 4px 0px rgba(0,0,0,0.26); 
    box-shadow: -7px 6px 4px 0px rgba(149,168,142,0.26), -2px 4px 4px 0px rgba(0,0,0,0.26);
}

.container-nav .menu-lateral ul{
    list-style: none;
    padding-top: 20%;
    margin-left: 18%;
    margin-right: 18%;
    height: 440px;
    
}





.container-nav .menu-lateral ul .botao-home{
    display:flex; 
    justify-content: center;
    height: 26px;
    margin-bottom: 22px;
    background-color: rgba(149, 168, 142, 1);
    border-radius: 18px;
    cursor: pointer;
}

.container-nav .menu-lateral ul .botao-home img{
    width: 25px;
    margin-right: 7px;
}

.container-nav .menu-lateral ul .botao-home a{
    padding: 5px 5px;
    padding-top: 3px;
    text-decoration: none;
    color: black;
}






.container-nav .menu-lateral ul .botao-playlist{
    display:flex;
    justify-content: center;
    height: 26px;
    margin-bottom: 22px;
    background-color: rgba(149, 168, 142, 1);
    border-radius: 18px;
    cursor: pointer;
}
.container-nav .menu-lateral ul .botao-playlist img{
    width: 25;
    margin-right: 4px;
}

.container-nav .menu-lateral ul .botao-playlist a{
    padding: 5px 5px;
    padding-top: 3px;
    text-decoration: none;
    color: black;
}







.container-nav .menu-lateral ul .botao-instragam{
    display:flex; 
    justify-content: center;
    height: 26px;
    margin-bottom: 60px;
    background-color: rgba(149, 168, 142, 1);
    border-radius: 18px;
    cursor: pointer;
}

.container-nav .menu-lateral ul .botao-instragam img{
    width: 25px;
    margin-right: px;
}

.container-nav .menu-lateral ul .botao-instragam a{
    font-size: 15px;
    padding-top: 3px;
    padding-right: 5%;
    text-decoration: none;
    color: black;
}





.container-nav .menu-lateral ul .botao-github{
    display:flex; 
    justify-content: center;
    height: 26px;
    margin-bottom: 22px;
    background-color: rgba(149, 168, 142, 1);
    border-radius: 18px;
    cursor: pointer;
}

.container-nav .menu-lateral ul .botao-github img{
    width: 25px;
    margin-right: 4px;
}

.container-nav .menu-lateral ul .botao-github a{
    padding: 5px 5px;
    padding-top: 3px;
    text-decoration: none;
    color: black;
}




.container-nav .menu-lateral ul .botao-linkedin{
    display:flex; 
    justify-content: center;
    height: 26px;
    margin-bottom: 15px;
    background-color: rgba(149, 168, 142, 1);
    border-radius: 18px;
    cursor: pointer;
}

.container-nav .menu-lateral ul .botao-linkedin img{
    width: 20px;
    margin-bottom: 2px;
    margin-right: 2px;
}

.container-nav .menu-lateral ul .botao-linkedin a{
    padding: 5px 5px;
    padding-top: 3px;
    text-decoration: none;
    color: black;
}

.container-nav .menu-lateral ul .container-descricao{
    display: flex;
    align-items: center;
    margin-top: 70%;       
}

.container-nav .menu-lateral ul .container-descricao a{
    display: flex;
    align-items: center;
    padding-left: 7px;
    justify-content: space-between;
    font-size: 12px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}




.container-nav .menu-lateral .container-submenu{
    display: flex;
    margin-top: 40px;
    margin-left: 2.5%;
    margin-bottom: 10px;
    border-radius: 13px;
    width: 180px;
    height: 100px;
    background-color: rgba(119, 126, 105, 1);
    -webkit-box-shadow: -7px 6px 4px 0px rgba(149,168,142,0.26), -2px 4px 4px 0px rgba(0,0,0,0.26); 
    box-shadow: -7px 6px 4px 0px rgba(149,168,142,0.26), -2px 4px 4px 0px rgba(0,0,0,0.26);
}

.container-submenu img{
    width: 90px;
}

.container-submenu li a{
    flex-wrap: wrap;   
    text-align: right;
}

.container-submenu .sub-menu{
    display: flex;
    width: 50%;
    align-items: center;
}

.container-submenu .sub-menu .sub-nome{
    display: flex;
    align-items: center;
    padding-right: 20px;
    height: 70px;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.container-submenu .sub-menu .sub-nome a:nth-child(2){
    font-size: 11px;
}





.container-nav .container-conteudo{
    width: 80vw;
    height: 80vh;
    overflow-y:scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px 20px;
}

.container-nav .container-conteudo .cartao-album{
    display: flex;
    width: 210px;
    height: 260px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 13px;
    align-items: center;
    background-color: rgba(119, 126, 105, 1);
    margin-top: 10px;
    -webkit-box-shadow: -8px 7px 10px 1px rgba(0,0,0,0.46); 
    box-shadow: -8px 7px 10px 1px rgba(0,0,0,0.46);
}

.cartao-album img{
    margin-top: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 5px -5px 15px 0px rgba(0,0,0,0.59), -2px 5px 15px 0px rgba(0,0,0,0.43); 
    box-shadow: 5px -5px 15px 0px rgba(0,0,0,0.59), -2px 5px 15px 0px rgba(0,0,0,0.43);
}

.cartao-album .descricao-album{
    font-size: 35px;
    color: rgba(152, 191, 113, 1);
}

.container-conteudo .texto-expicativo{
    margin-left: 20px;
    height: 45vh;
    display: block;
    position: relative; 
    font-size: 25px;
    overflow: none;
    color: black;
}

.exibir .container-conteudo .sumir{
    display: none;
    transition: all 10s;
    
}

.container-conteudo .sumir{
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px 20px;;
   transition: all 0.3s;
   padding-bottom: 20px;
}
.container-nav .container-conteudo .cartao-musicas{
    display: flex;
    width: 190px;
    height: 240px;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 13px;
    align-items: center;
    background-color: rgba(119, 126, 105, 1);
    margin-left: 5px;
    margin-top: 10px;
    -webkit-box-shadow: -8px 7px 10px 1px rgba(0,0,0,0.46); 
    box-shadow: -8px 7px 10px 1px rgba(0,0,0,0.46);
    cursor: pointer;
    transition: all .5s;
}

.cartao-musicas img{
    width: 150px;
    margin-top: 5px;
    border-radius: 10px;
    -webkit-box-shadow: 5px -5px 15px 0px rgba(0,0,0,0.59), -2px 5px 15px 0px rgba(0,0,0,0.43); 
    box-shadow: 5px -5px 15px 0px rgba(0,0,0,0.59), -2px 5px 15px 0px rgba(0,0,0,0.43);
    transition: all .5s;
}

.cartao-musicas .titulos-musicas{
    color: rgba(152, 191, 113, 1);
    font-size: 23px;
}

.cartao-musicas .titulos-flutuando{
    padding-left: 60px;
    padding-right: 63px;
    color: rgba(152, 191, 113, 1);
    font-size: 23px;

}

.cartao-musicas a{
    font-size: 16.5px;
    color: rgba(149, 168, 142, 1);
}

.container-conteudo .cartao-musicas:hover {
    width: 200px;
    height: 250px;
}

.cartao-musicas img:hover{
    width: 170px;
}

.botao{
  display: block;
  align-items: top;
  margin-right: 45%;
  margin-left: 45%;  
  box-shadow: 3px 3px 7px rgba(0,0,0,.5);
  width: 50px;
  height: 50px;
  top: 1%;
  bottom: 1%;
  left: 3%;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;
  z-index: 0;
}

.botao:hover{
    background-color: rgba(119, 126, 105, 1);
}

.b{
    height: max-content;
}


